/**
 * @file index.css
 * @author swan
 */

 .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 30px;
    padding: 0 4.23rpx;
    font-size: 0;
}
.middle{
    display: flex;
    height: 10px;
}
.bottom .buttons .button{
    display: inline-block;
}
 .bottom #text{
    text-align: center;
    font-size:0.8rem;
    color: white;
    background-color:rgba(250, 3, 3, 0.5);
    padding: 1rem 0;
    text-align: center;
}
.top #name{
    color: white;
    font-size:2rem;
}
