.container{
    padding: 0 0;
}
.citiesList{
    width: 100%;
    height: 100%;
}
.left-scroll-view{
    white-space: nowrap;
    height: 30rem;
    width: 25%;
    display: inline-block;
    background-color: #eeeeee;

}
.lname{
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.lname:hover{
    background-color: #fff;
    color: rgb(144, 218, 202);
}

.right-scroll-view{
    display: inline-block;
    width: 75%;
}
.rname{
    display: inline-block;
    margin: 0 1%;
}
.img{
    background-color: lightgreen;
    width: 3rem;
    height: 3rem;
}
.city-name{
    text-align: center;
}